<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Lacks" />
     <meta property='og:image' content="<%= image_url('project_pic.png') %>"/>
     <meta property="og:description"
       content="Lacks is a fully interactive clone of the popular work messaging app, Slack. Lacks was created as a demonstration of my abilities in web development and software engineering. It was built using Ruby on Rails, React.js, and Redux."
     />
     <meta property="og:url"
       content="https://appacademylacks.herokuapp.com/"
     />

    <script src="https://kit.fontawesome.com/a04e65ad89.js" crossorigin="anonymous"></script>
    <script>
      window.logo = "<%= image_url('logo.png') %>";
      window.logo_name = "<%= image_url('logo_with_name.png') %>"
      window.white_logo = "<%= image_url('white_logo.png') %>"
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Lacks</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %> 
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
