<!DOCTYPE html>
<html>
  <head>
    <script>
      window.logo = "<%= image_url('logo.png') %>";
      window.logo_name = "<%= image_url('logo_with_name.png') %>"
      window.white_logo = "<%= image_url('white_logo.png') %>"
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Lacks is your digital HQ | Lacks</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %> 
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
